/*Global
  --------------------------------------------------------- */
@import url('common.css');

.box {
    border: 1px solid red;
    background: white;
    padding: 5px;
}

#body {
    width: 1024px;
    margin: 20px auto 0px auto;
}

.title {
    text-decoration: underline;
    font-weight: bold;
    font-size: 25px;
    margin: 10px 0px;
}

/*Layout Tool
  --------------------------------------------------------- */

.box-cat {
    min-height: 90px;
    float: left;
    margin: 0px 0px 10px 0px;
    border: 1px solid red;
    background: lightblue;
}

.box-cat .cat-title {
    margin: 0px;
    font-weight: bold;
    font-size: 20px;
}

/*Single boxs
  -------------------------------------- */

.box-cat .box {
    border: 1px solid black;
    margin: 10px 0px;
}

.hover {
    border: 1px dashed grey;
}

.box {
    float: left;
    background: lightgrey;
    text-align: center;
    font-size: 30px;
    line-height: 100%;
    min-height: 50px;
    min-width:50px;
}

.quart-box {
    width: 118px;
}
.half-box {
    width: 238px;
}
.full-box {
    width: 478px;
}

/*Layout box
  -------------------------------------- */
#box-main {
    float: left;
    width: 1000px;
    min-height: 380px;
    border: 3px dashed grey;
    padding: 0px;
    padding-bottom: 50px;
}

.box:not(.tile) {
    background: lightblue;
}

#box-main {
    background: white;
}

/*Building block board
  -------------------------------------- */

#box-board {
    width: 500px;
    float: right;
    border: 1px solid black;
}

#box-board .box {
    margin: 10px;
}


/*Trash area
  -------------------------------------- */
#trash-bin {
    float: right;
    width: 500px;
    height: 60px;
    border: 2px dashed grey;
    padding: 0px;
    margin: 10px 0px 10px 0px;
    text-align: center;
    line-height: 100%;
    font-size: 40px;
    color: grey;
}

/*Category Check list
  -------------------------------------- */
#box-hidden {
    float: right;
    border: 1px solid black;
    width: 500px;
}

/*Form
  --------------------------------------------------------- */

#form-ctl {
    width: 120px;
    position: static;
    margin: 50px auto 0px auto;
}

#save-btn {
    width: 100%;
}